<p>First Exercise</p>
<button (click)="function1()">click</button>
<p>Second Exercise</p>
<button (click)="function2()">click</button>
<p>Third Exercise</p>
<button (click)="function3()">click</button>
<p>Fourth Exercise</p>
<!-- <button (click)="function4()">click</button> -->
<p>Fifth Exercise</p>
<button (click)="function5()">click</button>
<p>Six Exercise</p>
<button (click)="function6()">click</button>
<p>Seven Exercise</p>
<!-- <button (click)="function7()">click</button> -->
<p>Eight Exercise</p>
<button (click)="function8()">click</button>
<p>Nine Exercise</p>
<button (click)="function9()">click</button>
<p>Ten Exercise</p>
<!-- <button (click)="function10()">click</button> -->
<p>Eleven Exercise</p>
<button (click)="function11()">click</button>
<p>Twelve Exercise</p>
<button (click)="function12()">click</button>
<p>Thirteen Exercise</p>
<!-- <button (click)="function13()">click</button> -->
<p>Fourteen Exercise</p>
<button (click)="function14()">click</button>
<p>Fifteen Exercise</p>
<button (click)="function15()">click</button>
<p>Sixteen Exercise</p>
<!-- <button (click)="function16()">click</button> -->
<p>Seventeen Exercise</p>
<button (click)="function17()">click</button>
<p>Eighteen Exercise</p>
<button (click)="function18()">click</button>
<p>Nineteen Exercise</p>
<button (click)="function19()">click</button>
<p>Twentieth Exercise</p>
<button (click)="function20()">click</button>
<p>Twenty one Exercise</p>
<button (click)="combineVideosAndBookmarks()">click</button>
<p>Twenty three Exercise</p>
<button (click)="function23()">click</button>
<p>Twenty Four Exercise</p>
<button (click)="function24()">click</button>
<p>Twenty Five Exercise</p>
<button (click)="function25()">click</button>
<p>Twenty Six Exercise</p>
<button (click)="function26()">click</button>
<p>Twenty Seven Exercise</p>
<!-- <button (click)="function27(pricesNASDAQ, printRecord)">click</button> -->
<p>Twenty Eight Exercise</p>
<button (click)="function28()" id="button">click</button>
<p>Twenty Nine Exercise</p>
<button (click)="function29()">click</button>
<p>Thirty Exercise</p>
<button (click)="function30()">click</button>
<p>Thirty One Exercise</p>
<button (click)="function31()" id="stopButton">click</button>
<p>Thirty Two Exercise</p>
<button (click)="getData()">Get Data</button>
<p>Thirty Five Exercise</p>
<button (click)="getMovieLists()">Get Data</button>
<p>Thirty Eight Exercise</p>
<input #inputField type="text" placeholder="Type here" />
<button (click)="handleSave()">Save</button>
<p>Thirty Nine Exercise</p>
<input type="text" appAutocomplete placeholder="Type something" />
<ul>
  <li *ngFor="let result of searchResults">{{ result }}</li>
</ul>
<p>Forty Exercise</p>
<input type="text" [formControl]="inputControl" placeholder="Type something" />
<p>{{ result }}</p>
